:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main_container {
  overflow: hidden;
  position: relative;
  width: 100vw;  /* Full width of the viewport */
  height: 100vh;  /* Full height of the viewport */
  margin: 0 auto;
  background: #ffffff;
}

.main_container,
.main_container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.rectangle {
  position: relative;
  width: 100%;               /* Chiếm toàn bộ chiều rộng của khung chứa */
  height: 10vh;             /* Điều chỉnh chiều cao là 10% chiều cao viewport */
  margin: 0;
  background: #f8ebf8;
}


.arrow_left_circle {
  position: absolute;
  width: 5vw;               /* Chiều rộng linh hoạt */
  height:5vw;              /* Chiều cao linh hoạt, tỷ lệ 1:1 */
  top: 1vh;                 /* Khoảng cách từ trên xuống */
  left: 1vw;                /* Khoảng cách từ bên trái */
  z-index: 9;
  overflow: hidden;
}

.icon {
  position: relative;
  width: 5vw;               /* Chiều rộng linh hoạt */
  height: 3vw;              /* Chiều cao linh hoạt, tỷ lệ 1:1 */
  margin: 0.5vh 0 0 0.5vw; /* Khoảng cách với phần tử khác */
  background: url(../../assets/frame5/0e8bafc5-64d7-4e5e-9a58-dfd62a7a497e.png)
    no-repeat center;
  background-size: contain; /* Giữ tỉ lệ của icon */
  z-index: 10;
}

.tu_van {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 50vw;              /* Sử dụng vw cho chiều rộng */
  height: 5vh;              /* Sử dụng vh cho chiều cao */
  top: 12px;                /* Khoảng cách từ trên xuống */
  left: 25%;                /* Đặt giữa màn hình */
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 4vw;           /* Sử dụng vw cho kích thước font */
  font-weight: 700;
  line-height: 5vh;         /* Đặt line-height tương ứng với chiều cao */
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.96px;
  z-index: 2;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000000;
}

.rectangle_3 {
  position: absolute;
  width: 80%;               /* Chiếm 50% chiều rộng của khung chứa */
  height: 8vh;              /* Chiều cao tương đối */
  top: 90%;                 /* Khoảng cách từ trên xuống */
  left: 9%;                /* Đặt giữa màn hình */
  background: #d9d9d9;
  z-index: 5;
  overflow: hidden;
  border-radius: 20px;
}

.aaa {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: auto;              /* Chiều rộng tự động */
  height: 6vh;              /* Sử dụng vh cho chiều cao */
  top: 1vh;                 /* Khoảng cách từ trên xuống */
  left: 2vw;                /* Khoảng cách từ bên trái */
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 2vw;           /* Sử dụng vw cho kích thước font */
  font-weight: 400;
  line-height: 6vh;         /* Đặt line-height tương ứng với chiều cao */
  text-align: center;
  white-space: nowrap;
  z-index: 6;
}

.send {
  position: absolute;
  width: 6vw;               /* Chiều rộng linh hoạt */
  height: 5vw;              /* Chiều cao linh hoạt, tỷ lệ 1:1 */
  top: 90vh;                 /* Khoảng cách từ trên xuống */
  left: 88%;                /* Đặt vị trí bên phải */
  z-index: 3;
  overflow: hidden;
}

.icon_4 {
  position: relative;
  width: 6vw;               /* Chiều rộng linh hoạt */
  height: 3vw;              /* Chiều cao linh hoạt, tỷ lệ 1:1 */
  margin: 1vh 0 0 1vw;     /* Khoảng cách với phần tử khác */
  background: url(../../assets/frame5/2e5065a0-61bd-4caa-bcc7-519120c5561c.png)
    no-repeat center;
  background-size: contain; /* Giữ tỉ lệ của icon */
  z-index: 4;
}
